{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h2>게시판</h2>
	<h3>게시물 갯수 : {{boardCount}} <a href="/register">글등록</a></h3>
	<table border=1>
		<tr>
			<th>번호</th>
			<th>제목</th>
			<th>작성자</th>
			<th>날짜</th>
			<th>조회수</th>
			<th>첨부파일</th>
			<th>다운로드수</th>
		</tr>
	{% for board in boardList %}
		<tr align="center">
			<td>{{board.bno}}</td>
			<td><a href="/detail?bno={{board.bno}}">{{board.title}}</a></td>
			<td>{{board.writer}}</td>
			<td>{{board.post_date}}</td>
			<td>{{board.hit}}</td>
			<td>
				{% if board.filesize > 0 %}
				<a href="/download?bno={{board.bno}}">
				<img src="{% static 'images/file.gif' %}"></a>
				{% endif %}
			</td>
			<td>{{board.down}}
		</tr>
		{% endfor %}
	</table>
</body>
</html>